.brand-video {
  border: 5px solid !important;
  
  border-radius: 30em !important;
  transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */

}